@font-face {
	font-family:Roboto;
	src:url('Roboto-Light-webfont.woff') format('woff');
}

*	{
	margin:0;
	padding:0;
	box-sizing:border-box;
	font-family:'Roboto', sans-serif;
}

#container { 

	display:flex;
	flex-direction: column;
	align-items: center;


 }

 #header {
 	margin-top:40px;
 }

#inputArea {
	height:80px;
	width:600px;
	font-size:40px;
}

#list {
	list-style-type: none;
	margin-top:5px;
	font-size:30px;

}


.listItem:nth-child(odd){
	background-color: #f4f4f4;
}

.listItem {
	display:flex;
	width:600px;
 	padding: 12px 4px 12px 40px;
 	background-color:#fafafa;
		
}


.close:hover {
	 font-size:32px;
}

.listText {
	width:95%;
	
}

.listText:hover {
	text-decoration: line-through;
}










